<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/dashboardPage.css}" />
    <link rel="stylesheet" th:href="@{/loading.css}" />
</head>
<body>
    <ul>
        <li th:each="event: ${events}">
            <div class="event-container unLoadable">
                <form th:action="@{/bouts/{id}(id=${event.slug})}">
                    <button type = "submit" id="card-btn" class="event-btn loader" >
                        <h1 th:text="${event.title}" class="text" ></h1>
                        <span th:text="${event.locationText}" class="text" ></span>
                        <span th:text="${event.startTime}" class="text" ></span>
                        <img th:src="${event.image}" class="display-Image" />
                    </button>
                </form>
            </div>
        </li>
    </ul>

    <div class="event-container">
        <form action="/mypicks">
            <button type = "submit" class="event-btn yours loader unLoadable" value="My Picks" id="myPicks">
                <h1 class="text" value="My Picks">My Picks</h1>
            </button>
        </form>
    </div>

    <form action="/profile">
        <button type="submit" class="profile-Btn loader" value="Profile">Profile</button>
    </form>

    <script th:src="@{/loading.js}"></script>
</body>
</html>