<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recover Password</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="stylesheet" th:href="@{/loading.css}" />
</head>
<body>
  <div class="box-container">
    <form class="any input username">
      <label for="username">username</label>
      <input type="text" name="username" id="username"/>
      <button class="submit-btn sendCode loader" type="submit" value="Send Code" onclick="sendCode(event)">Send Code</button>
      <span id="information" class="information"></span>
    </form>

    <form class="any input">
      <label for="code">code</label>
      <input type="text" name="code" id="code"/>
      <button class="submit-btn loader" type="button" value="Verify" onclick="verifyCode(event)">Verify</button>
    </form>
  </div>

  <div class="box-container hiddenDiv">
    <form class="any input">
      <span class="error" id="error"></span>
      <label for="newPassword">new password</label>
      <input type="password" name="newPassword" id="newPassword"/>
      <button class="submit-btn loader" type="button" value="Change Password" onclick="updatePassword(event)">Change Password</button>
    </form>
  </div>

  <script th:src="@{/forgotPassword.js}"></script>
  <script th:src="@{/loading.js}"></script>
</body>
</html>